<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Training_ProductList>
            <version>1.0.0.0</version>
        </Training_ProductList>
    </modules>
    <global>
        <models>
            <training_productlist>
                <class>Training_ProductList_Model</class>
            </training_productlist>
        </models>
        <blocks>
            <training_productlist>
                <class>Training_ProductList_Block</class>
            </training_productlist>
        </blocks>
        <helpers>
            <training_productlist>
                <class>Training_ProductList_Helper</class>
            </training_productlist>
        </helpers>
        <resources>
            <training_productlist_setup>
                <setup>
                    <module>Training_ProductList</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </training_productlist_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <training_productlist module="training_productlist">
                    <file>training_productlist.xml</file>
                </training_productlist>
            </updates>
        </layout>
        <routers>
            <training_productlist>
                <use>standard</use>
                <args>
                    <module>Training_ProductList</module>
                    <frontName>recommended_products</frontName>
                </args>
            </training_productlist>
        </routers>
    </frontend>
    <default>
        <catalog>
            <trianing_productlist_list>
                <max_products_shown>10</max_products_shown>
            </trianing_productlist_list>
        </catalog>
    </default>
</config>