<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <catalog module="catalog">
            <groups>
                <trianing_productlist_list>
                    <label>Recommended Products</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <max_products_shown>
                            <label>Number to List</label>
                            <sort_order>10</sort_order>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_products_shown>
                    </fields>
                </trianing_productlist_list>
            </groups>
        </catalog>
    </sections>
</config>